# This file is part of the Apathetic Guide to IdleOn project.
#
# Apathetic Tools © 2025 (https://github.com/apathetic-tools)
#
# This source code is dual-licensed:
#  - Under the GNU Affero General Public License v3.0 (AGPLv3).
#  - Under alternative licensing terms by the copyright holder.
#
# See CODE-LICENSE for details.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# inspired by Apathetic-Tools · MIT
# https://github.com/apathetic-tools/snippets/blob/main/docs/windows/development-setup

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = false

[{.*,*.md,*.mdx,*.json,*.toml,*.yml,}]
indent_style = space
