---
import { Icon } from "astro-icon/components";
---

<div 
	class="toggle-left-sidebar-btn toggle-sidebar-btn" 
	role="button"
	tabindex="0"
	aria-expanded="true"
>
	<Icon name="mdi:chevron-left" class="icon-collapse" title="Collapse" />
	<Icon name="mdi:chevron-right" class="icon-expand" title="Expand" />  
</div>

<style>
[data-icon] {
	height: 1.125rem;
	width: 1.125rem;
}

.toggle-left-sidebar-btn .icon-expand { display: none; }
:global(.left-sidebar-collapsed) .toggle-left-sidebar-btn .icon-collapse { display: none; }
:global(.left-sidebar-collapsed) .toggle-left-sidebar-btn .icon-expand { display: inline-flex; }
</style>

<script>
	(function () {
		const btn = document.querySelector<HTMLElement>(".toggle-left-sidebar-btn");
		if (!btn) return;
		
		const collapsedClassname = "left-sidebar-collapsed";

   function applyState(collapsed: boolean) {
			if (!btn) return;			

      if (collapsed) {		
        btn.setAttribute("aria-expanded", "false");
      } else {				
        btn.setAttribute("aria-expanded", "true");				
      }
    }

		const initialCollapsed = document.documentElement.classList.contains(collapsedClassname);
  	applyState(initialCollapsed);

    // Click to toggle
    btn.addEventListener("click", () => {
      const now = document.documentElement.classList.toggle(collapsedClassname);
      applyState(now);
      sessionStorage.setItem("starlight-sidebar-collapsed", now ? "1" : "0");
    });

    // Keyboard support
    btn.addEventListener("keydown", (e: KeyboardEvent) => {
      if (e.key === "Enter" || e.key === " ") {
        e.preventDefault();
        btn.click();
      }
    });
  }
  
  )();
</script>

