/* 
This file is part of the Apathetic Guide to IdleOn project.

Apathetic Tools © 2025 (https://github.com/apathetic-tools)

This source code is dual-licensed:
 - Under the GNU Affero General Public License v3.0 (AGPLv3).
 - Under alternative licensing terms by the copyright holder.

See CODE-LICENSE for details.

SPDX-License-Identifier: AGPL-3.0-or-later

Inspired by HiDeoo/starlight-theme-rapide MIT
https://github.com/HiDeoo/starlight-theme-rapide/blob/main/packages/starlight-theme-rapide/styles/base.css
*/

/* 
  Using border-left highlight design from Rapide instead of default pill effect
  Note: we had to undo some of the default astro styling. 
*/

@layer our-sidebar;

.sidebar-pane {
	/* --- Nested list items --- */
	& ul ul li {
		border-inline-start: 1px solid var(--sl-color-hairline-light);
		transition: border-color 0.2s ease; /* line transition */

		/* Links inside nested items */
		& > a {
			color: var(--sl-color-gray-3); /* more muted baseline */
			transition: color 0.2s ease;
		}

		/* Active page */
		&:has(> a[aria-current='page']) {
			border-inline-start-color: var(--sl-color-text-accent);
		}
		& > a[aria-current='page'] {
			background-color: initial;
			color: var(--sl-color-text-accent);
			transition: color 0.2s ease;
		}

		/* Hover (but not active) */
		&:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
			border-inline-start-color: var(--sl-color-accent-high);
		}
		& > a:not([aria-current='page']):is(:hover, :focus-visible) {
			color: var(--sl-color-accent-high);
		}
	}
}
