/* 
This file is part of the Apathetic Guide to IdleOn project.

Apathetic Tools © 2025 (https://github.com/apathetic-tools)

This source code is dual-licensed:
 - Under the GNU Affero General Public License v3.0 (AGPLv3).
 - Under alternative licensing terms by the copyright holder.

See CODE-LICENSE for details.

SPDX-License-Identifier: AGPL-3.0-or-later
*/

/*
// Problem: The dark mode theme menu in the top right doesn't render properly in Firefox on Windows
// 
// Starlight Theme Menu Component, MIT: 
// Source: https://github.com/withastro/starlight/blob/main/packages/starlight/components/ThemeSelect.astro
*/ 
@layer our-theme-menu;

[data-theme='dark'] starlight-theme-select {
	& select,
	& select option,
	& select option:checked {
		background-color: var(--sl-color-gray-6);
		color: var(--sl-color-text);
	}
	
	& select option:hover {
		background-color: var(--sl-color-accent-high);
		color: var(--sl-color-text-invert);
	}
}

